/* MAIN */
@font-face {
    font-family: GatoradeBlack;
    src: url("../imgs/Gatorade Black.otf") format("opentype");
}

@font-face {
    font-family: GatoradeBlack;
    font-weight: bold;
    src: url("../imgs/Gatorade Black.otf") format("opentype");
}
html {
  background-color: #191918;
}
body {
  background-image: linear-gradient( 0deg, #191918, #464330 );
  color: #F8F8F8;
  margin: 0;
}
.main-container {
  max-width:1000px;
  margin:0 auto;
}
h1 {
  color: #F9A350;
  font-family: "GatoradeBlack", monospace;
  text-transform: capitalize;
}
h1, h2, h3, h4, h6 {
  margin:0 0 10px 0;
}
p {
  font-weight: 100;
  margin: 0;
  font-size: 14px;
  line-height: 150%;
}


/* BANNER */
.banner-main {
  /*background: linear-gradient( 0deg, #3C3A2C, #353124 );*/
  background-image:  url('../imgs/Header_Desktop.png');
  background-size: 1000px 177px;
  font-family: sans-serif;
  height: 177px;
  display: block;
}
.innerBannerWrapper {
  padding: 20px;
}
.banner-title {
  margin: 10px 0 0 20px;
}
.banner-hr-mobile {
  display: none;
}
.banner-hr {
  display: block
}
.main-title-mobile {
  display: none;
}
.main-title {
width: 225px;
  display: block;
}
.page-title {
  display: inline-block;
  float:left;
  margin-right: 15px;
}
.gatorade-logo img {
  float: right;
  margin: 20px;
}



/* DETAIL COMPONENT */
.detail-view {
  font-family: sans-serif;
  width: 60%;
  margin: 30px 0 0 40px;
  float: left;
}
.intro-header {
  width: 65%;
  padding-top: 25px;
}
.top-controls div {
  height: 20px;
  width: 50%;
  display: inline-block;
  font-size: 12px;
  color: #ACD959;
  cursor: pointer;
}
.top-controls div:last-child {
  text-align: center;
}
.bottom-detail-body {
  margin-top: 25px;
  width: 90%;
}
.bottom-detail-body h1 {
  margin-top: 20px;
  margin-bottom: 0;
}
.episode-number {
  letter-spacing: 4px;
  margin: 30px 0;
}
.detail-view p {
  margin-right: 50px;
  font-family: "Source Code Pro", monospace;
  color: #DADAD8;
}
.detail-view h2 {
  font-family: "Source Code Pro", monospace;
  font-size: 18px;
}
.detail-text {
  padding: 15px 0;
}
.intro-image-div img {
  display: inline-block;
  height: 50px;
  margin: 25px 40px 0 0 ;
}


/* POD PICKER COMPONENT */
.pp-main-outer {
  display: inline-block;
  font-family: "Source Code Pro", monospace;
  width: 35%;
  float: left;
}
.pp-main-inner {
  width: 80%;
  margin: 20px auto;
  margin-top: 100px;
}
.podcast-list-item {
  cursor: pointer;
}
.pp-loop-div {
  height: 50px;
}
.pp-top {
  height: 100px;
}
.pp-top h4 {
  margin-bottom: 25px;
}
.pp-top h3 {
  cursor: pointer;
  margin-bottom: 25px;
  font-size: 14px;
}
.pp-right {
  border-left: 1px solid white;
  display: inline-block;
  width: 60%;
  padding-left:20px;
}
.pp-left {
  display:  inline-block;
  float: left;
  width:  30%;
  color: #DADAD8;
}
.pp-inner-right {
  display: inline-block;
  width: 50%;
  float: right;
}
.pp-inner-left {
  display: inline-block;
  width: 20%;
  float: left;
}
.pp-selector {
   display: inline-block;
}
.pp-inactive p {
  opacity: 0.5;
}
.about-main {
  margin-top: 30px;
}
.about-text {
  margin-bottom: 25px;
}
.selected {
  text-decoration: underline #F9A350;
  color: #F9A350;
}


/*FOOTER COMPONENT*/
.footer-third {
  width: 33.3%;
  display: inline-block;
}
footer-third:second-child {
  background: red;
}
.hash-tag {
  /*display: inline-block;*/
  color: #F9A350;
}


/* MEDIA QUERIES */
@media only screen and (min-width: 480px) {
  .main-body {
    min-width: 800px;
  }
}
@media only screen and (max-width: 480px) {
  .intro-main, .about-main {
    padding: 0 25px 25px 25px;
    position: relative;
    top: -60px;
  }
  .banner-title {
    margin: 50px 0 0 0;
  }
  .banner-hr-mobile {
    display: block;
  }
  .banner-hr {
    display: none;
  }
  .verticle-line {
    height: 26px;
    border-left: 1px solid white;
    position: relative;
    top: -50px;
    left: 30px;
  }
  .main-title-mobile {
    display: block;
    width: 265px;
  }
  .main-title {
    display: none;
  }
  .gatorade-logo img {
    position: relative;
    top: -175px;
    left: 10px;
  }
  .intro-header {
    width: 100%;
    padding-top: 0;
  }
  .detail-view {
    width: 100%;
    margin: 0;
  }
  .detail-view p {
    margin: 10px 0 20px 0;
  }
  .pp-right {
    display: none;
  }
  .intro-image-div img {
    margin: 20px 10px 0 0;
    height: 60px;
  }
  .pp-main-inner {
    display: none
  }
  .pp-main-inner-mobile {
    display: flex;
    overflow-x: scroll;
  }
  .pp-main-outer {
    height: 70px;
    position: relative;
    top: -70px;
    width: 100vw;
    overflow-x: scroll;
  }
  .pp-loop-div-mobile {
    display: inline-block;
    width: 82px;
  }
  .pp-loop-div-mobile p {
    padding: 23px 30px 0 30px;
  }
  /*.about-main {
    background: red;
    padding: 25px 0;
    margin: 0;
  }*/
  .top-controls {
    display: none;
  }
  .bottom-detail-body {
    margin: 0px;
    padding: 0;
    width: 100%;
  }
  .player-controls-main {
    position: relative;
    top: -75px;
    padding: 0 20px;
  }
}

@media only screen and (min-device-width : 480px) {
  .pp-main-inner-mobile {
    display: none;
  }
  .pp-main-inner {
    display: block;
  }
}




/*font-family: "Roboto", sans-serif;*/
/*font-family: "Source Code Pro", monospace;*/





